<!--section -->
        <div class="section pb-lg-0">
          <div class="container">
            <header class="section-header text-start">
              <h2>{{ section.settings.heading }}</h2>
            </header>
            <div class="row">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'member' %}
                    <div class="col-lg-4 col-md-6 people">
                      <figure class="figure1">
                        <img src="{{ block.settings.image | image_url }}" alt="img">
                      </figure>
                      <div class="description">
                        <h4>{{ block.settings.name }}</h4>
                        <p class="designation">{{ block.settings.post }}</p>
                        {{ block.settings.content }}
                      </div>
                    </div>
              	  {% endcase %}
				{% endfor %}
            </div>
          </div>
        </div>
<!--/section -->


{% schema %}
  {
    "name": "Our Team",
    "settings": [
		{
			"id": "heading",
			"type": "text",	
			"label": "Heading"
		}
	],
	"blocks": [
		{
		"name": "Add Member",
		"type": "member",
		"settings": [
			{
              "id": "image",
              "type": "image_picker",	
              "label": "Image"
			},
			{
              "id": "name",
              "type": "text",	
              "label": "Name"
			},
			{
              "id": "post",
              "type": "text",	
              "label": "Post"
			},
			{
              "id": "content",
              "type": "richtext",	
              "label": "Content"
			}
		]
		}
	],
	"presets": [
		{
			"name": "Our Team"
		}
	],
	"templates": ["page"]
  }
{% endschema %}
